<% provide(:title, '商品一覧') %>
<h1>商品一覧</h1>



<ul class="products">
<% @products.each do |product| %>
    <%= product.name %>
    <%= product.explanation %>
    <% end %>
</ul>


<%= link_to "商品詳細へ", show_path, class: "btn btn-lg btn-primary" %>
